<!-- BEGIN_INCLUDE(rl-log:config) -->
    <rl-log:config name="RLLog__Configuration" doc:name="RLLog: Configuration" 
        addApplicationName="true"
        addCorrelationId="true"
        addMessageId="true"
        alternativeCorrelationId="MySessionId"/>
<!-- END_INCLUDE(rl-log:config) -->

<!-- BEGIN_INCLUDE(rl-log:put-into-thread-context-map) -->
    <rl-log:put-into-thread-context-map config-ref="RLLog__Configuration" 
        key="#['test']" value="#[message.id]" 
        doc:name="Set test in thread context map"/>
<!-- END_INCLUDE(rl-log:put-into-thread-context-map) -->
